<%- include('../../partials/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <%- include('../../partials/sidebar.ejs') %>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <%- include('../../partials/navbar.ejs') %>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Bank</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/bank">Bank</a></li>
                  <li class="breadcrumb-item active">Add</li>
                </ol>
              </div>
            </div>
          </div>
        </section>
        <!-- End heading -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">
                      <a href="/bank/create" class="btn btn-primary">
                        <i class="nav-icon far fa-plus-square"></i> Add
                      </a>
                    </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Form Add Bank</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <form action="/bank/create" method="POST">
                        <div class="card-body">
                          <div class="form-group">
                            <label for="name"> Owner Name </label>
                            <input
                              type="text"
                              class="form-control"
                              name="name"
                              id="name"
                              placeholder="Add Owner Name"
                              required
                            />
                          </div>
                          <div class="form-group">
                            <label for="bankName"> Bank Name </label>
                            <input
                              type="text"
                              class="form-control"
                              name="bankName"
                              id="bankName"
                              placeholder="Add Bank Name"
                              required
                            />
                          </div>
                          <div class="form-group">
                            <label for="noRekening"> Account Number</label>
                            <input
                              type="number"
                              class="form-control"
                              name="noRekening"
                              id="noRekening"
                              placeholder="Add Account Number"
                              required
                            />
                          </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">
                            Submit
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<%- include('../../partials/js.ejs') %>
